/*aqui van todos los reset*/
/*variables, reset generales*/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/*Variables*/
$titulo-blanco:white;
$titulo-naranja:rgb(237, 125, 49);
$titulo-gris:rgb(72, 70, 70);;
$fondo-naranja:rgb(237, 125, 49);
$fondo-verde-claro:rgb(168, 214, 137);
$fondo-verde-oscuro:rgb(84, 130, 53);
$fondo-blanco:white;
$fondo-blanco-transparente:rgba(255, 255, 255, 0.4);
$borde-blanco: 0 0 20px 0 rgba(255, 255, 255, 0.3);
$linea-formulario:1px solid $fondo-naranja;

/*Clases generales*/
.icono-pdf{
    width: 35px;
    height: 35px;
}

.linea{
    border-color:$fondo-naranja;
}
