* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/************************/
/* Estilos pagina index */
/************************/

.caja-fondo-index {
    background-image: url("../img/fondo-index.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.logo-index {
    width: 150px;
    height: 120px;
}

.caja-index {
    display: flex;
    justify-content: center;
    padding-top: 70px;
}

.titulo-index {
    font-family: Helvetica bold, calibri, sans-serif;
    font-size: 70px;
    color: white;
    text-align: center;
}

.subtitulo-index {
    font-family: cream cake, Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-size: 50px;
}

@media(max-width:600px) {
    .titulo-index {
        font-size: 50px;
    }

    .subtitulo-index {
        font-size: 25px;
        justify-content: center;
    }
}

.caja-btn-index {
    display: block;
    width: 200px;
    height: 35px;
    text-align: center;
    padding-top: 10px;
    margin: auto;
    margin-top: 50px;
    background-color: orange;
    border-radius: 20px;
}

.btn-index {
    text-align: center;
    color: white;
    text-decoration: none;
}

/****************************/
/* Estilos pagina conocenos */
/****************************/

.caja-fondo-conocenos {
    background-image: url("../img/fondo-conocenos.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.titulo-conocenos {
    color: gray;
    text-align: center;
}

.subtitulo-conocenos {
    color: green;
    text-align: center;
}

.contenido-conocenos {
    width: 80%;
    max-width: 1000px;
    margin: auto;
    display: grid;
    gap: 1.6em;
    grid-template-columns: 280px 1fr 100px;
    grid-template-rows: repeat(4, 15vh);
    grid-template-areas:
        "caja-naranja caja-blanca caja-blanca"
        "caja-naranja parrafo1 caja-opciones"
        "caja-naranja parrafo2 caja-opciones"
        "caja-naranja caja-blanca2 caja-opciones";
    background-color: rgba(255, 255, 255, 0.6);
}

.caja-naranja-conocenos {
    grid-area: caja-naranja;
    background-color: orange;
    display: flex;
    justify-content: center;
}

.video-caja-naranja {
    align-self: center;
}

.caja-blanca-conocenos {
    grid-area: caja-blanca;
    display: flex;
    justify-content: center;
    align-self: center;
}

.conocenos1 {
    grid-area: parrafo1;
    font-size: 15px;
}

.conocenos2 {
    grid-area: parrafo2;
    font-size: 15px;
}

.caja-blanca-conocenos2 {
    grid-area: caja-blanca2;
}

.opciones {
    grid-area: caja-opciones;
    background-color: orange;
    border-radius: 25px;
}

@media (max-width:600px) {

    .contenido-conocenos {
        width: 70%;
        max-width: 600px;
        margin: auto;
        display: grid;
        gap: 1.2em;
        grid-template-rows: repeat(5, 15vh);
        grid-template-areas:
            "caja-blanca"
            "caja-naranja"
            "parrafo1"
            "parrafo2"
            "caja-opciones";
    }

    /*.caja-blanca-conocenos{
       grid-column: 1/-1;
    }
    .caja-naranja-conocenos{
        grid-column: 1/-1;    
    }
    
    .caja-blanca-conocenos{
        grid-column: 1/-1;
    }
    
    .caja-blanca-conocenos2{
        grid-column: 1/-1;
    }

    .opciones{
        grid-column: 1/-1;
    }*/
}

@media (max-width:850px) {

    .contenido-conocenos {
        display: flex;
        flex-direction: column;
    }

    .caja-naranja-conocenos {
        display: flex;
        flex-direction: column;
    }

}

@media (max-width:960px) {

    .contenido-conocenos {
        width: 80%;
        max-width: 1000px;
        margin: auto;
        display: grid;
        gap: 2em;
        grid-template-columns: 280px 1fr 100px;
        grid-template-rows: repeat(4, 18vh);
        grid-template-areas:
            "caja-naranja caja-blanca caja-blanca"
            "caja-naranja parrafo1 parrafo1"
            "caja-naranja parrafo2 parrafo2"

            "caja-opciones caja-opciones caja-opciones";
    }

    .conocenos1 {
        grid-area: parrafo1;
        font-size: 10px;
    }

    .conocenos2 {
        grid-area: parrafo2;
        font-size: 10px;
    }
}

@media (max-width:1200px) {
    .conocenos1 {
        grid-area: parrafo1;
        font-size: 12px;
    }

    .conocenos2 {
        grid-area: parrafo2;
        font-size: 12px;
    }
}




/*********************************/
/* Estilos pagina sostenibilidad */
/*********************************/

.video-fondo {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}

.container{
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(2, 1fr);
}

.container .header{
    grid-column: span 2;
}

.container .content{
    grid-column: 1;
}

.content .article{
    background-color: rgba(57, 157, 40, 0.6); ;
    color: white;
    margin-top: 20px;
}

.container .sidebar{
    grid-column: 2;
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: 10;
}

/*****************************/
/* Estilos pagina innovacion */
/*****************************/


/***************************/
/* Estilos pagina contacto */
/***************************/

.caja-fondo-contacto {
    background-image: url("../img/fondo-contacto.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.content-contacto{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.titulo-contacto{
    text-align: center;
    font-size: 2.5em;
    color: white;
}

.area-contacto{
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.area-contacto > * {
    padding: 1.5em;
}

.formulario-contacto{
    background: rgba(255, 255, 255, 0.4);
}


.formulario-contacto form p{
    margin: 0;
    padding: 1em;
}

.formulario-contacto form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.formulario-contacto form .bloque{
    grid-column: 1 / 3;
}

.formulario-contacto form button,
.formulario-contacto form input,
.formulario-contacto form textarea{
width: 100%;
padding: 0.7em;
border: none;
background: none;
outline: 0;
border-bottom: 1px solid orange;
}

.formulario-contacto form button{
    background: green;
    border: 0;
    border-radius: 25px;
    text-transform: uppercase;
    padding: 1em;
}

.formulario-contacto form button:hover,
.formulario-contacto form button:focus{
    background: orange;
    color: white;
    transition: background-color 1s ease-out;
    outline: 0;
}

.info-contacto{
    background: orange;
}

.info-contacto h3,
.info-contacto ul,
.info-contacto p{
    text-align: center;
    margin: 0 0 1rem 0;
}

.info-contacto ul{
    list-style: none;
    padding: 0;
}

.info-contacto ul li{
    padding: 0.3em;
}

@media(min-width: 700px){
    .area-contacto{
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .area-contacto{
         padding: 0.1em;
    }

    .info-contacto h3,
    .info-contacto ul,
    .info-contacto p{
        padding: 1em;
        text-align: left;
    }
}